SuperTurista/.vs/ProjectEvaluation/superturista.metadata.v7.bin
SuperTurista/.vs/ProjectEvaluation/superturista.projects.v7.bin
SuperTurista/.vs/SuperTurista/v17/.futdcache.v2
SuperTurista/.vs/SuperTurista/v17/.suo
