SuperTurista/.vs/ProjectEvaluation
SuperTurista/.vs/SuperTurista/DesignTimeBuild
SuperTurista/.vs/SuperTurista/FileContentIndex
SuperTurista/.vs/SuperTurista/v17/.suo
SuperTurista/.vs/ProjectEvaluation/superturista.metadata.v7.bin
SuperTurista/.vs/ProjectEvaluation/superturista.projects.v7.bin
SuperTurista/.vs/SuperTurista/v17/.futdcache.v2
SuperTurista/.vs/SuperTurista/v17/.suo
SuperTurista/SuperTurista.Api/obj/project.assets.json
SuperTurista/SuperTurista.Api/obj/project.nuget.cache
SuperTurista/SuperTurista.Api/obj/Debug/net7.0/SuperTurista.Api.assets.cache
SuperTurista/SuperTurista.Api/obj/SuperTurista.Api.csproj.nuget.dgspec.json
SuperTurista/SuperTurista.Core/obj/project.assets.json
SuperTurista/SuperTuriste.Service/obj/Debug/net7.0/SuperTurista.Service.assets.cache
SuperTurista/SuperTuriste.Service/obj/SuperTurista.Service.csproj.nuget.dgspec.json
SuperTurista/SuperTuriste.Service/obj/project.nuget.cache
SuperTurista/SuperTuriste.Service/obj/project.assets.json
SuperTurista/SuperTurista.DataAccess/obj/Debug/net7.0/SuperTurista.DataAccess.assets.cache
SuperTurista/SuperTurista.DataAccess/obj/SuperTurista.DataAccess.csproj.nuget.dgspec.json
SuperTurista/SuperTurista.DataAccess/obj/project.nuget.cache
SuperTurista/SuperTurista.DataAccess/obj/project.assets.json
SuperTurista/SuperTurista.Api/obj/Debug/net7.0/SuperTurista.Api.AssemblyInfoInputs.cache
