<header class="header">
    <nav class="nav">
        <!-- <button (click)="goAlojamiento()">Alojamiento</button> -->
        <button routerLink="/app-alojamientos"  >Alojamiento</button>       
        <ul class="nav_ul">
            <li><a class="link" routerLink="./home">Inicio</a></li>
            <li><a class="link" routerLink="./alojamientos">Alojamientos</a></li>
            <li><a class="link" routerLink="./contacto">Contacto</a></li>
            <li><a class="link" routerLink="./faqs">Preguntas Frecuentes</a></li>
            <li><a class="link" routerLink="./nosotros">Nosotros</a></li>
            <li><a class="link" routerLink="./ofertas">Ofertas</a></li>
            <li><a class="link" routerLink="./vehiculos">Vehículos</a></li>
          </ul>
    </nav>
</header>